*{
box-sizing: border-box;
}
.parent-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    background-color: rgb(88, 209, 240);
}
.parent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-wrap: wrap;
    gap: 20px;
    padding: 2rem 1rem;
   
}
.parent-buttons{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;

}
.parent-btn{
    padding: .8rem 1.5rem;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
   border-radius: 8px;
  
    background-color:rgb(80, 241, 80);
    transition: .5s ease;
}
.parent-btn:nth-child(2){
    background-color: red;
    border:none
}
.parent-btn:hover{
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    
    color: tomato;
}
